.img{
    background-image: url('../../firebase-db.jpg');
    border-radius: 4px;
    max-width: 100%;
    width: 80em;
    height:45em;
    background-position: center;
    background-size: cover;
    margin: 100px auto !important;
}

p{
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 0.4px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

h1{
    text-align: center !important;
}

.bnb{
    background-image: url('../../airbnb-co-muc-thua-lo-hang-tram-trieu-do.png');
    width: 40em;
    height: 20em;
    background-position: center;
    background-size: cover;
    margin: 80px auto;
}